* {
  margin: 0.4%;
  padding: 0.5%;
}

body {
  background-color: #07252d;
  font-family: "Vibur", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./bricks.jpg);
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #03bcf4,
    0 0 82px #03bcf4, 0 0 92px #03bcf4, 0 0 102px #03bcf4, 0 0 120px #03bcf4;
}

h1 {
  font-weight: 400;
  animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 90px #03bcf4, 0 0 100px #03bcf4, 0 0 150px #03bcf4;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #03bcf4,
      0 0 73px #03bcf4, 0 0 80px #03bcf4, 0 0 94px #03bcf4, 0 0 140px #03bcf4;
  }
}

.article {
  color: #fff;
}

.description {
  color: white;
}

.url {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #03bcf4,
    0 0 82px #03bcf4, 0 0 92px #03bcf4, 0 0 102px #03bcf4, 0 0 120px #03bcf4;
  user-select: none;
}

.box {
  height: 40px;
  width: 325px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: none;
}

.box button {
  border: none;
  background-color: white;
  cursor: pointer;
  transform: translateY(-50%);
  transform: translateX(100%);
}

.box input {
  width: 525px;
  height: 20px;
}

.box input {
  width: 1000;
  height: 40px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

button img {
  width: 20px;
  height: 20px;
  border: none;
}

.search-icon {
  width: 20px;
  height: 20px;
}
